.card{
    width: 280px;
    height: 500px;
    border: solid 2px black;
    border-radius: 1px;
    color: rgb(31, 31, 31);
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
}

h2{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;

}
p{
    font-size: 15px;
    padding: 5px;
    text-align: center;
}
img{
    width: 230px;
    height: 230px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}